!!!
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html;charset=UTF-8", "http-equiv" => "content-type" }
    = javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery?
    = stylesheet_link_tag 'reset', 'ui-lightness/jquery-ui-1.7.2.custom', 'jquery.autocomplete', 'application', 'colorbox', :cache => 'base'
    = javascript_include_tag 'jquery-1.4.2.min', 'jquery-ui-1.7.2.custom.min', 'jquery.colorbox-min', 'jquery.autocomplete.pack', 'jquery.validate.pack', 'application', :cache => 'base'
    
  %body
    #container
      #header
        = #render :partial => "layouts/top_bar"
      	  
      #sidebar.left
        = render :partial => "layouts/logo_box"
        = yield(:sidebar)
        
      #content.right
        = render :partial => "layouts/header"
        = yield
        
      .clear
      = render :partial => "layouts/old_browser"